i.fa {
    font-size: 20px !important;
}

.mx-auto {
    margin: 0 auto;
}

.md-form {
    margin-bottom: 30px;
}

.form {
    max-width: 500px;
    margin: 50px auto;
}

.md-form input {
    padding: 10px 0;
}

.md-form label {}

.md-form .prefix.grey-text {
    margin-top: 1rem;
}

.md-form select {
    margin-left: 3rem;
    width: calc(100% - 3rem);
    padding: 5px;
    margin-top: 10px;
}






/*login*/

.form-simple .header {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.form-simple input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ff3547;
    -webkit-box-shadow: 0 1px 0 0 #ff3547;
    box-shadow: 0 1px 0 0 #ff3547;
}

.form-simple input[type=text]:focus:not([readonly])+label {
    color: #4f4f4f;
}

.form-simple input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #ff3547;
    -webkit-box-shadow: 0 1px 0 0 #ff3547;
    box-shadow: 0 1px 0 0 #ff3547;
}

.form-simple input[type=password]:focus:not([readonly])+label {
    color: #4f4f4f;
}

.login-form {
    padding: 50px;
}

a.category {
    width: 100%;
    text-align: left;
}
